<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Plushiness 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131117

-->
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Boardgame Recommender</title>
	<meta name="a boardgame recommender" content="Recommendation">
	<meta name="author" content="Zi Yang">
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
	<link href="../static/css/default.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../static/css/fonts.css" rel="stylesheet" type="text/css" media="all" />
	<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}">
	</script>
	<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>

<body>
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<span class="icon icon-group"></span>
				<h1><a href="#">Boardgame Recommender</a></h1>
				<span>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a></span>
			</div>
			<div id="triangle-up"></div>
		</div>
	</div>
	<div id="menu-wrapper">
		<div id="menu" align="center">
			<ul">
				<li><a href="https://github.com/zyang0009/boardgamerecommender" accesskey="1" title="">GitProject</a></li>
				<li><a href="https://docs.google.com/presentation/d/1cczTFw_pGzuZmPQVbxFNQJbSFp9Rbf5KZo6O21tjt3s" accesskey="2"><span class="icon icon-bar-chart" size="10,10">Charts</span></a></li>
				<li><a href="https://github.com/zyang0009/" accesskey="3" title=""><span class="icon icon-github" size="10,10">GitHub</span></a></li>
				<li><a href="https://www.linkedin.com/in/ziyang0009/" accesskey="4" title=""><span class="icon icon-linkedin" size="10,10">LinkedIn</span></a></li>
				
			</ul>
		</div>
	</div>
	<div id="wrapper">
		<div id="featured-wrapper">

			<div class="container">

				<div class="ebox2">
					<div class="hexagon"><span class="icon icon-magic"></span></div>

					<p>This app will recommend boardgames for you based on a game you already like from a library of 74,264 board games!</p>
					<p>Please enter a game title and the number of games to recommend.</p>
					<p>For example, "Catan, 10" will recommend 10 games similar to Catan</p>
					<p>Popular games to try: Catan, Betrayal, Risk Legacy, Chutes and Ladders</p>


					<div class="row">
						<div class="form-inline">

							<div class="form-group">
								<p class="form-control-static">game title:</p>
							</div>
							<div class="form-group">
								<input class="form-control" id="game_title"></input>
							</div>

							<div class="form-group">
								<p class="form-control-static">number of games to recommend:</p>
							</div>
							<div class="form-group">
								<input class="form-control" id="num_games"></input>
							</div>

							<div class="form-group">
								<p></p>
								<button id="recommend" class="button">Recommend Boardgames!</button>
								<button id="clear" class="button">Clear!</button>
							</div>

						</div>

						<p></p>
						<h3> The game you picked and its recommended games are: </h3><br />
						
						<div id="result">

						</div>
					</div>
					<div class="ebox2">
						<div class="center">
							
							</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div id="stamp" class="container">
		<div class="hexagon"><span class="icon icon-fire"></span></div>
	</div>
	<div id="copyright" class="container">
		<p>&copy; Boardgame Recommender. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a
				href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
	</div>
	<script>

		let get_input = function () {
			let game_title = $("input#game_title").val()
			let num_games = $("input#num_games").val()
			return {
				'game_title': game_title,
				'num_games': parseInt(num_games)
			}
		};

		let send_query_json = function(query) {
			$.ajax({
				url: '/recommend',
				contentType: "application/json; charset=utf-8",
				type: 'POST',
				success: function (resp) {
					// console.log($("div#result"))
					$("div#result").html(resp)
					// console.log($("div#result"))	
				},
				data: JSON.stringify(query)
			});
		};

		$(document).ready(function () {
			$("button#recommend").click(function () {
				let query = get_input();
				send_query_json(query);
			});

			$("button#clear").click(function () {
				$("#results_table tr").remove();
				$("input#game_title").val('');
				$("input#num_games").val('');
			})
		})

	</script>
</body>

</html>